.button {
  display: inline-flex;
  min-height: 75px;
  margin: 0;
  padding: 10px 40px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--color-accent);
  color: inherit;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
