.button {
  display: inline-flex;
  min-height: 75px;
  margin: 0;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: var(--color-accent);
  color: var(--color-white);
  border: none;
  text-decoration: none;
  cursor: pointer;
  outline: transparent solid 2px;
  outline-offset: 3px;

  &:hover,
  &:active {
    transition: background-color 0.2s ease-out;
    background-color: var(--color-accent-hover);
  }

  &:focus {
    transition: all 0.2s ease-out;
    outline: var(--color-accent) solid 2px;
    outline-offset: 3px;
    background-color: var(--color-accent-hover);
  }

  @media (max-width: $tablet-width-max) {
    min-height: 50px;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
  }

  @media (max-width: $mobile-width-max) {
    width: 100%;
    max-width: 288px;
  }
}

.button__icon {
  margin-left: auto;
}
