.greeting {
  // height: 100vh;
  height: 959px;
  padding-top: 99px;
  background-image: url("../img/background-desktop.jpg");
  background-color: var(--color-darkness);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-white);
}

.greeting__container {
  display: flex;
  min-height: 100%;
  padding-top: 75px;
  padding-bottom: 75px;
  padding-left: 706px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.greeting__title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 600;
  font-size: 55px;
  line-height: 80px;
  letter-spacing: -1px;
}

.greeting__text {
  margin: 0;
  margin-bottom: 32px;
  font-size: 16px;
  line-height: 27px;
}

.greeting__button {
  min-width: 340px;
}
