.tours {
  padding-top: 195px;

  @media (max-width: $tablet-width-max) {
    padding-top: 80px;
  }

  @media (max-width: $mobile-width-max) {
    padding-top: 110px;
  }
}

.tours__container {
  @media (max-width: $tablet-width-max) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

.tours__title {
  max-width: 358px;
  margin-bottom: 32px;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 20px;
  }
}

.tours__text {
  max-width: 358px;
  margin: 0;
  margin-bottom: 4px;
  color: rgba(44, 46, 63, 0.7);

  @media (max-width: $tablet-width-max) {
    margin-bottom: 30px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 18px;
  }
}

.tours__card-list {
  display: flex;
  margin: 0;
  padding: 0;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;

  @media (max-width: $tablet-width-max) {
    margin-bottom: 50px;
  }

  @media (max-width: $mobile-width-max) {
    margin-bottom: 0;
    justify-content: space-around;
  }
}

.tours__card-item {
  display: flex;
  width: 33.3333333%;
  max-width: 350px;
  margin-top: 50px;
  margin-right: 60px;
  margin-bottom: 50px;

  &:last-child {
    margin-right: 0;
    margin-left: 60px;
  }

  &:nth-child(3n) {
    margin-right: 0;
    margin-left: 0;
  }

  &:nth-child(4n),
  &:nth-child(7n) {
    margin-left: 0;
  }

  @media (min-width: $desktop-width-min) and (max-width: 1209.8px) {
    &:nth-child(odd) {
      margin-right: 60px;
      margin-left: 0;
    }

    &:last-child {
      margin-right: 60px;
      margin-left: 60px;
    }

    &:nth-child(even) {
      margin-right: 0;
      margin-left: 0;
    }
  }

  @media (max-width: $tablet-width-max) {
    width: 50%;
    max-width: 288px;
    margin: 10px 15px;

    &:last-child,
    &:nth-child(3n),
    &:nth-child(4n),
    &:nth-child(7n) {
      margin-right: 15px;
      margin-left: 15px;
    }

    @media (max-width: $mobile-width-max) {
      width: 100%;
      margin: 0 0 35px;

      &:last-child,
      &:nth-child(3n),
      &:nth-child(4n),
      &:nth-child(7n) {
        margin-right: 0;
        margin-left: 0;
      }
    }
  }
}
