.tour-card {
  display: block;
  width: 350px;
  height: 430px;
}

.tour-card__title {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.4px;
}

.tour-card__img {

}

.tour-card__overlay {

}

.tour-card__overlay-item {
  visibility: hidden;
}
