// Цвета
:root {
  --color-accent: #fe7865;
  --color-accent-hover: #f17d4b;
  --color-white: #ffffff;
  --color-grey-light: #fbf8f8;
  --color-blue-light: #c0c2c4;
  --color-black: #141517;
  --color-black-a50: rgba(20, 21, 23, 0.5);
  --color-black-a60: rgba(20, 21, 23, 0.6);
  --color-grey: #5b5b5d;
  --color-darkness: #2c2e3f;
  --color-divider: #d7d9df;
  --color-tabs: #c0c0c5;
  --color-tabs-a70: #6b6d79;
}

// Размеры вьюпорта
$mobile-width-min: 320px;
$mobile-width-max: 767.8px;

$tablet-width-min: 768px;
$tablet-width-max: 1023.8px;

$desktop-width-min: 1024px;
$desktop-width-max: 1210px;

// Шрифты
$main-font: "Montserrat", "Arial", sans-serif;

// Для ретинизации
$retina-dppx: 1.5dppx;
